# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
python_embed/
*.log

# Node & Frontend
node_modules/
dist/
dist-ssr/
*.local

# Binaries & Tunnels
cloudflared.exe
*.exe

# Environment & Secrets
.env
.env.local
.env.*.local

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
